 Center the entire content horizontally
        body {
            text-align: center;
            margin: 0;
            padding: 0;
        }

        /* Apply background strip above the topmost row */
        .top-strip {
            background-color: #008081;
            height: 25px;
            width: 100%; /* Span the entire width */
        }

        /* Apply background image to the first row */
        tr.first-row {
            background-image: url('../images/head-back.jpg');
            background-size: cover; /* Adjust as needed */
            background-position: center; /* Center the background image vertically */
        }

        /* Style the first row header */
        tr.first-row td {
            text-align: center;
            padding: 30px 0; /* Increase vertical padding for header */
            color: #fff; /* Text color */
            font-size: 35px; /* Header size */
            font-weight: bold; /* Bold text */
            background-color: transparent; /* Remove background color */
        }

        /* Style the links in the second row */
        tr.second-row {
            background-color: #008081; /* Darker background color */
        }

        tr.second-row a {
            text-decoration: none;
            color: #dedede; /* Link color */
            font-weight: bold; /* Bold text */
            padding: 10px 20px; /* Add padding to space out the links */
            display: inline-block; /* Center the links horizontally */
        }

        /* Style the Servers dropdown */
        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropbtn {
            background-color: #008081;
            color: #dedede;
            border: none;
            cursor: pointer;
            font-weight: bold; /* Bold text */
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #008081;
            min-width: 160px;
            z-index: 1;
        }

        .dropdown-content a {
            color: #dedede;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            font-weight: bold; /* Bold text */
        }

        .dropdown-content a:hover {
            background-color: #dedede;
            color: #008081; /* Hovered link color */
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        /* Style the content row */
        tr.content-row {
            background-color: #dedede;
        }
        
        /* Remove border between rows */
        table {
            border-collapse: collapse;
            width: 100%; /* Span the entire width */
        }